@media screen and (max-width: 800px) {
    body {
        background-color: white;
    }

    div.image {
        display: none
    }

    .container {
        width: 100%!important;
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
}

body {
    background-color: black;
    margin: 0;
}

#__next > div {
    display: flex;
    justify-content: space-between;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    opacity: 0.4;
    cursor: progress!important;
}

.sign-in-form {
    min-width: 20rem;
}

.sign-in-form .form-submit-btn {
    margin-top: 1rem;
}

.sign-in-form .form-submit-btn button {
    width: 100%;
    background-color: black;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.5rem;
}

.sign-in-form .form-submit-btn button:hover {
    /* what bgc for hover? is it in figma? */
    background-color: gray;
}

div.image {
    width: 50%;
    overflow: hidden;
    /* background-position: center; */
    /* background: url(rocket.png); */
}

.image img {
    object-fit: cover;
    position: relative;
    width: 150%;
    left: -4rem;
}

h2.provider {
    font-size: 1rem;
}
