.error {
  color: white;
  background-color: red;
}

.btn {
  background-color: transparent;
  border: 1px solid gray;
  padding: 0.4rem;
  display: block;
  min-width: 10rem;
  border-radius: 5px;
}

.btn:hover {
  background-color: lightgray;
}

.btn img {
  vertical-align: middle;
}
